.App{
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* .header {
  background: url("https://i.seadn.io/s/production/8eecbe94-639a-4b2e-ac72-b16fc6ef691b.png?w=500&auto=format")
    no-repeat center;
  background-size: cover;
}

.header::before {
  backdrop-filter: blur(60px);
  background: linear-gradient(0deg, rgb(18, 18, 18) 50%, rgba(0, 0, 0, 0) 80%)
    rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
} */
