:root {
  --bg-color: rgb(18, 18, 18);
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  user-select: none;
}

body {
  max-width: 1400px;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: #fff;
}

button{
  border: 0;
  background-color: transparent;
}

::-webkit-scrollbar{
  display: none;
}